
.listado-citas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #f8f9fa;
  }
  

  .listado-citas h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #343a40;
  }
  
